<?xml version="1.0" standalone="yes"?>
<!-- Default Master SIP Configuration File-->
<!-- For information on configuring Polycom VoIP phones please refer to the -->
<!-- Configuration File Management white paper available from: -->
<!-- http://www.polycom.com/common/documents/whitepapers/configuration_file_management_on_soundpoint_ip_phones.pdf -->
<!-- $RCSfile: 000000000000.cfg,v $  $Revision: 1.19.2.1 $ -->
<APPLICATION 
	APP_FILE_PATH="sip.ld" 
        CONFIG_FILES="x%%name%%.cfg, custom-patches.cfg, custom-%%office%%-office.cfg, custom-offices.cfg, phone1.cfg, sip.cfg"
	MISC_FILES="" 
        LOG_FILE_DIRECTORY="/log"
        OVERRIDES_DIRECTORY="/overrides"
        CONTACTS_DIRECTORY="/contacts"
	LICENSE_DIRECTORY="">
</APPLICATION>
