<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Per-phone configuration in this file -->
<reginfo>
  <reg reg.1.displayName="%%name%%" 
   reg.1.address="%%name%%" 
   reg.1.label="%%name%%"
   reg.1.auth.userId="%%name%%" 
   reg.1.auth.password="PlcmSpIp"/>
</reginfo>
